@model ppedv.EverGreen.Model.Tannenbaum

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tannenbaum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Baumart Name
        </dt>
        <dd>
            @Model.BaumArt.Name
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fällzeit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fällzeit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
